* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'eurofurence';
    src: url('../fonts/eurofurence/eurof55.ttf');
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/Lato-Bold.ttf');
    font-weight: 700;
}

html {
    font-family: 'lato', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Helpers */

.container {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.center-align {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.opaque {
    opacity: 0;
    z-index: -1;
}

/*  Header */

header {
    width: 100%;
    height: 70px;
    background-color: #292929;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    position: fixed;
}

header .container {
    padding: 20px;
}

.logo {
    font-family: 'eurofurence', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.logo span {
    color: #58c93a;
}

h1.logo {
    color: #ffffff;
}

header button {
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    width: 40;
    height: 40px;
}

.curtain {
    background-color: rgba(255, 255, 255, 0.397);
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.main-menu {
    background-color: #2929299d;
    width: 240px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 70px;
    right: 0;
    transform: translate(100%, 0);
    transition: all .7s;
    z-index: 30;
}

.open {
    transform: translate(0, 0);
}

.main-menu li {
    width: 100%;
}

.main-menu a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 1px 0 #1e1e1e;
    display: flex;
    padding-top: 40px;
    padding-left: 15px;
    width: 100%;
    height: 90px;
}

.main-menu li a:hover {
    color: #58c93a;
}

.main-menu li a.active{
    color: #58c93a;
    box-shadow: inset 0 -6px 0 #58c93a;
}

/* Main */

main.container {
    padding-top: 80px;
}

ul.blog-posts {
    margin: 20px;
}

.blog-posts li {
    width: 100%;
    min-height: 565px;
    margin-bottom: 40px;
}

.img {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 305px;
    margin-bottom: 15px;
}

.post {
    width: 100%;
    height: fit-content;
}

.post h2 {
    color: #4f4e4e;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0;
}

.post p {
    color: #606060;
    line-height: 20px;
}

.post button {
    color: #c2c1c1;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    background-color: #ffffff;
    border: none;
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
}

.post button:hover {
    cursor: pointer;
    color: #58c93a;
}

.post button:hover::after {
    content: '→';
}

.subscribe-modal {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    transition: all .3s;
}

.modal-content {
    height: 50%;
    margin: 200px 0;
    flex-direction: column;
    justify-content: space-around;
}

.subscribe-modal h3 {
    color: #292929;
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.subscribe-modal button {
    cursor: pointer;
    color: #292929;
    font-family: 'lato';
    font-weight: 700;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.subscribe-modal button:hover {
    color: #58c93a;
}

.subscribe-modal button:first-child {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    float: right;
}

.subscribe-modal input {
    font-family: 'lato';
    width: 60%;
    max-width: 300px;
}

.subscribe-modal input:focus {
    outline-color: #58c93a;
}

.paging {
    border-top: 1px solid #e1e0e0;
    max-height: 75px;
    padding: 30px;
}

.paging button {
    cursor: pointer;
    color: #818181;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.paging button:hover {
    color: #58c93a;
}

/* Footer */

footer {
    box-shadow: inset 0 1px 0 #e1e0e0;
    background-color: #f8f8f8;
    height: 315px;
    padding: 80px 0;
}

footer .logo {
    color: #292929;
    margin: 0;
}

footer p {
    color: #a6a6a6;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    margin: 0;
}

footer p span:last-child {
    color: #939292;
    font-weight: 700;
}

.social {
    width: 230px;
}

.social button {
    cursor: pointer;
    color: white;
    border: none;
    background-color: #e5e5e5;
    height: 40px;
    width: 40px;
}

.social button:first-child:hover {
    background-color: #516fad;
}

.social button:nth-child(2):hover {
    background-color: #1da1f2;
}

.social button:nth-child(3):hover {
    background-color: #0054f7;
}

.social button:nth-child(4):hover {
    background-color: #df3e7b;
}